<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoAd.Fo.Core.Properties.Settings.frontdk_standConnectionString"
            connectionString="Data Source=SSB-SERMAN\SQLEXPRESS;Initial Catalog=frontdk_stand;Persist Security Info=True;User ID=sa;Password=mssql"
            providerName="System.Data.SqlClient" />
        <add name="CoAd.Fo.Core.Properties.Settings.frontdk_stand_testConnectionString"
            connectionString="Data Source=SSB-SERMAN\SQLEXPRESS;Initial Catalog=frontdk_stand_test;Persist Security Info=True;User ID=sa;Password=mssql"
            providerName="System.Data.SqlClient" />
        <add name="CoAd.Fo.Core.Properties.Settings.frontdk_stand_testConnectionString1"
            connectionString="Data Source=SSB-SERMAN\SQLEXPRESS;Initial Catalog=frontdk_stand_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>