<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoAd.Core.Properties.Settings.AdministrationCenterDKConnectionString"
            connectionString="Data Source=192.168.43.7\SQLEXPRESS,1433;Initial Catalog=AdministrationCenterDK;Persist Security Info=True;User ID=sa;Password=mssql"
            providerName="System.Data.SqlClient" />
        <add name="CoAd.Core.Properties.Settings.coad_testConnectionString"
            connectionString="Data Source=192.168.1.66\SQLEXPRESS,1433;Initial Catalog=coad_test;Persist Security Info=True;User ID=sa;Password=mssql"
            providerName="System.Data.SqlClient" />
        <add name="CoAd.Core.Properties.Settings.coad_testConnectionString1"
            connectionString="Data Source=SSB-SERMAN\SQLEXPRESS;Initial Catalog=coad_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
